@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap");
body {
  font-family: 'MuseoModerno';
}

header {
  background-color: #333333;
  padding: 17px 0 15px 0;
  color: #FFFFFF;
  font-weight: 300;
}

.container-fluid {
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #956D84;
  font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #956D84;
}

.dropdown-menu-dark {
  background-color: white;
}

.dropdown-menu-dark .dropdown-item {
  color: #956D84;
}

.dropdown-menu-dark .dropdown-item:hover {
  color: black;
}

.header-divide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg-dark {
  --bs-bg-opacity: 0;
  background-color: wheat;
}

.navbar {
  padding: 0;
}

.nav-link:focus, .nav-link:hover {
  color: white;
}

.nav-link {
  padding: 0;
}

#navbarDarkDropdownMenuLink {
  padding-left: 13px;
}

.sign-block::before {
  content: url(icons/sign-icon.png);
}

.sign-block .sign-block-border {
  border-right: 1px solid #956D84;
  padding: 0 10px;
  margin-right: 10px;
}

.delivery-li {
  margin-left: 20px;
  margin-right: 20px;
}

.delivery-li::before {
  content: url(icons/delivery-icon.png);
  vertical-align: top;
  padding-right: 10px;
}

.contact-li::before {
  content: url(icons/contact-icon.png);
  vertical-align: middle;
  padding-right: 10px;
}

.marker-li::before {
  content: url(icons/wishlist.png);
  vertical-align: middle;
  padding-right: 10px;
}

.margin-top-nav {
  margin-top: 20px;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

nav .nav-panel {
  margin-top: 24px;
}

nav .nav-panel input {
  font-size: 14px;
  color: #828282;
  border: none;
  border-bottom: 1px solid #956D84;
  padding-bottom: 8px;
}

nav .nav-panel .block-2-nav {
  margin-top: 47px;
}

nav .nav-panel .search-input-1 {
  margin-right: 21px;
  width: 28%;
}

nav .nav-panel .search-input-2 {
  width: 68%;
}

nav #nav-list {
  padding: 0;
}

nav .contact-icons-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

nav .product-icons-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}

nav .phone-number {
  margin: 22px 0;
}

.nav-list {
  gap: 60px;
}

.photo-catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 25px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.description-item-1 {
  position: absolute;
  top: 35;
  right: 20;
  font-size: 36px;
  font-weight: 700;
}

.description-item-1 span {
  color: white;
}

#divValueAappendTo {
  margin: 10px 0 0 25px;
}

.description-item-2 {
  position: absolute;
  top: 20;
  left: 21;
  font-size: 36px;
  font-weight: 700;
}

.description-item-3 {
  position: absolute;
  top: 20;
  left: 21;
  font-size: 36px;
  font-weight: 700;
}

.catalog-item-1 {
  grid-row: 1/-1;
  position: relative;
}

.catalog-item-1 img {
  width: 570px;
}

.catalog-item-2 {
  position: relative;
}

.catalog-item-2 img {
  width: 250px;
  height: 260px;
}

.catalog-item-3 {
  position: relative;
}

.catalog-item-3 img {
  width: 250px;
  height: 260px;
}

.catalog-item-4 img {
  width: 250px;
  height: 260px;
}

.catalog-item-5 img {
  width: 250px;
  height: 260px;
}

.inf-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.inf-block img {
  width: 100%;
}

.products-section {
  margin-top: 115px;
  margin-bottom: 120px;
}

.products-section .products-header {
  margin-bottom: 36px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.products-section .products-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.products-section .products-menu .products-menu-style {
  background: #FFFFFF;
  border: 1px solid #956D84;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.products-section .products-menu .product-description {
  margin: 0 24px;
}

.products-section .products-menu .product-description-text {
  font-size: 18px;
  line-height: 18px;
}

.products-section .products-menu .product-description-text p:first-child {
  color: #BDBDBD;
  text-decoration: line-through;
}

.products-section .products-menu .product-description-text p:last-child {
  color: #956D84;
  font-weight: 700;
}

.products-section .products-menu .product-description-text span {
  color: #956D84;
  font-weight: 700;
}

.products-section .products-menu .bacground-image-products-menu {
  background-color: #FBF9FA;
}

.products-section .products-menu .button-style {
  margin-top: 37px;
  margin-bottom: 16px;
  text-align: center;
}

.products-section .products-menu .button-style button {
  background-color: #956D84;
  color: white;
  border: none;
  border-radius: 10px;
  width: 70%;
  height: 60px;
  background-image: url(images/button-background.png);
  background-repeat: no-repeat;
  background-position: right;
}

.products-section .products-menu .add-to-cart {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 17px;
  color: #828282;
}

.background-flowers img {
  position: relative;
  width: 8%;
}

.background-flowers img:first-child {
  position: absolute;
  left: 0;
  top: 80%;
}

.background-flowers img:last-child {
  position: absolute;
  right: 0;
  top: 20%;
}

.add-to-cart:hover, .myDropDown-a {
  cursor: pointer;
}

.wishlist-icon img:hover {
  cursor: pointer;
}

.review-raiting {
  position: relative;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 15px;
  color: #F8E582;
  margin: 16px 0 26px 24px;
}

.review-raiting::before {
  content: "★★★★★";
}

.review-raiting .raiting-item {
  position: absolute;
  height: 0%;
  width: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.bacground-image-products-menu {
  position: relative;
}

.bacground-image-products-menu .action-circle {
  position: absolute;
  left: 15px;
  top: 6px;
  padding: 18px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px dashed #E72222;
  border-radius: 100%;
  font-size: 14px;
}

.bacground-image-products-menu .top-circle {
  position: absolute;
  right: 13px;
  bottom: 27px;
  padding: 19px 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #9D758C63;
  background-color: #9D758C63;
  border-radius: 100%;
  color: #956D84;
}

.bacground-image-products-menu .wishlist-icon {
  position: absolute;
  top: 15px;
  right: 24px;
}

.padding-product-last {
  padding-bottom: 75px;
}

.padding-product-last img {
  -webkit-transform: translateY(13%);
          transform: translateY(13%);
}

.product-image-width img {
  width: 100%;
}

footer {
  background-color: #333333;
  color: #FFFFFF;
  padding-top: 32px;
}

footer h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 35px;
}

footer ul li {
  line-height: 25px;
  text-transform: uppercase;
  opacity: 0.85;
  font-size: 12px;
}

footer hr {
  color: #956D84;
}

.text-for-logo {
  position: absolute;
  bottom: 40px;
  font-size: 12px;
  text-transform: uppercase;
}

.pay-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.pay-text {
  position: absolute;
  left: -135px;
  top: 13px;
  opacity: 0.85;
}

.copyright-text {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0.85;
}

.myDropDown-a {
  color: #956D84;
  text-decoration: none;
}

.myDropDown-a:hover {
  color: #956D84;
}

.myDropDown-list-2 {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 0.5rem 0;
}

.myDropDown-list-2 li {
  padding: 0.25rem 1rem;
}

.myDropDown-list-1 {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 0.5rem 0;
}

.myDropDown-list-1 li {
  padding: 0.25rem 1rem;
}

#sum-value {
  font-size: 18px;
  color: #828282;
}

.wishlist {
  position: relative;
}

.wishlist .wishlist-circle {
  position: absolute;
  top: -6px;
  right: -5px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #956D84;
  color: white;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  padding-top: 3px;
}

.cart {
  position: relative;
}

.cart .cart-circle {
  position: absolute;
  top: -6px;
  right: -5px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #956D84;
  color: white;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  padding-top: 3px;
}

.collapse:not(.show) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1024px) {
  #mobile-menu, #divValueAappendTo, .main-section-mobile, .inf-images-section-mobile, .mobile-forum-section {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .marker-li, .contact-li, .sign-block, #city-li, #language-li span, #currency-li span,
  .nav-panel, .contact-icons-group img, .phone-number, .background-flowers, .main-section-desktop,
  .inf-images-section {
    display: none;
  }
  .container, .container-md, .container-sm {
    max-width: 900px;
  }
  .dropdown-item {
    padding: 3px 3px;
  }
  .dropdown-menu[data-bs-popper] {
    padding: 3px;
  }
  .dropdown-menu {
    min-width: 1rem;
  }
  #currency-li {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 4px;
  }
  .delivery-li {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-right: 1px solid #956D84;
    border-left: 1px solid #956D84;
    padding: 0 20px;
    margin: 0;
  }
  #language-li {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 4px;
  }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-divide {
    display: block;
  }
  .product-icons-group {
    margin-top: 25%;
  }
  #mobile-menu {
    margin-top: 50px;
  }
  #sum-value {
    font-size: 14px;
  }
  #logotype {
    margin-left: 70px;
  }
  .main-section-mobile {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }
  .main-section-mobile img {
    width: 90%;
  }
  .main-section-mobile #image2Mobile {
    display: none;
  }
  .main-section-mobile #image3Mobile {
    display: none;
  }
  .main-section-mobile .mobile-switcher-icon-1 {
    position: absolute;
    bottom: 12px;
    right: 55%;
  }
  .main-section-mobile .mobile-switcher-icon-2 {
    position: absolute;
    bottom: 12px;
    right: 50%;
  }
  .main-section-mobile .mobile-switcher-icon-3 {
    position: absolute;
    bottom: 12px;
    right: 45%;
  }
  .main-section-mobile .mobile-switcher-icon {
    width: 11px;
    height: 11px;
    background-color: white;
    border-radius: 100%;
  }
  .main-section-mobile #text-for-mobile-images {
    position: absolute;
    top: 6%;
    right: 7%;
    font-size: 50px;
    font-weight: bold;
  }
  .main-section-mobile #text-for-mobile-images span {
    color: white;
  }
  .inf-images-section-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 30px;
  }
  .inf-images-section-mobile img {
    min-width: 6rem;
  }
  .inf-images-section-mobile div {
    border: 3px solid #956D84;
    border-radius: 100%;
  }
  .inf-images-section-mobile #mobile-inf-block-1 {
    padding: 40px 40px;
  }
  .inf-images-section-mobile #mobile-inf-block-2 {
    padding: 40px 40px;
  }
  .inf-images-section-mobile #mobile-inf-block-3 {
    padding: 40px 40px;
  }
  .products-section .products-menu {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .mobile-forum-section img {
    width: 80%;
  }
  .mobile-forum-section #mobile-forum-photo {
    text-align: center;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  .mobile-forum-section h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .mobile-forum-section .mobile-forum-block {
    padding: 138px 11px 18px 8px;
    background-color: #956D84;
    text-align: center;
  }
  .mobile-forum-section h6 {
    color: white;
    font-size: 14px;
    opacity: 0.9;
  }
  .mobile-forum-section p {
    color: white;
    opacity: 0.6;
  }
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md,
  .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
  }
}
/*# sourceMappingURL=style.css.map */